* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
    height: 50px;
    background-color:#ff9a4b;
}

.main {
    width: 960px;
    height: 50px;
    display: flex;
}

.step {
    width: 300px;
    margin:30px;
    background-color:#EEEEEE;
    padding:10px;
    position:relative;
}
.step-img1 {
    height: 150px;
    background-image: url(img/flow01.png);
    background-size: cover;
    
}

.title {
   margin:15,0,5px;
}

